@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */

body {
  font-family: 'Arial', sans-serif;
  color: #36413E;
  background-color: #EFE9F4;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}
